<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Order ID</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= link_to 'Show Details', order %></td>
        <td><%= link_to 'Complete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
